#home-left {
  display: block
}
#home-top {
  display: none
}
#hrDivider {
  display: none  
}

@media only screen and (max-width: 750px) {
  #home-left {
    display: none
  }
  #home-mid {
    display: none
  }
  #home-right {
    width: 25em !important;
  }
  #home-top {
    display: block
  }
  #hrDivider {
    display: block;
    width: 70%;
  }
}
